<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.tuttigram.post.like.dao.LikeDAO">
	
	
		<!--  좋아요 -->
	<insert id="insertLike" parameterType="map">
	
		INSERT INTO
			`like`
		(
			`id`
			, `postId`
			, `userId`
			, `createdAt`
		)
		
		VALUES (
			#{postId}
			, #{userId}
			, now()
		)
			
	</insert>
	
	
	
		<!-- postId로 좋아요 개수 조회 -->
	<select id="selectCountLike" parameterType="int" resultType="int">
		
		SELECT
			count(1)
		
		FROM
			`like`
		
		WHERE
			`postId` = #{postId}	
		
	</select>


</mapper>