@charset "UTF-8";

#wrap {
   width:1200px;
   margin:auto;
}


header {
	height:40px;
}


.signup-box {
	width:400px;
	height:500px;
}


.heart-size {
	font-size:18px;
	text-decoration:none;
}


.decoration-none:hover {
	text-decoration:none;
}


.search-box {
	background-color: #eeeeee;
}


.id-box {
	height:35px;
	background-color: #dddddd;
}


footer {
	height:50px;
}
